<h1>Posts</h1>


   <table class="table table-striped">
  <thead>
    <tr>
      <th>
        Post #
      </th>
      <th>
        Date
      </th>
      <th>
        User
      </th>
      <th>
        Rationale
      </th>
    </tr>
  </thead>
  <tbody>
  <%= render @posts %>
    </tr>
    </tbody>
    </table>